/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #5842af;
  text-shadow: 1px 1px #cbc8d9,
              -1px -1px #fff;
  border: none;
}

body {
  min-height: 100vh;
  background: #efebff;
}

main {
  width: 100%;
  padding: 2rem 16rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

#leaderboard,
#score-form {
  width: 50%;
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btn {
  padding: 1rem;
  font-weight: bold;
  border-radius: 2rem;
  background: linear-gradient(145deg, #fffbff, #d7d4e6);
  box-shadow:  20px 20px 60px #cbc8d9,
              -20px -20px 60px #fff;
  cursor: pointer;
}

.btn:hover {
  text-shadow: 1px 1px #fff,
              -1px -1px #cbc8d9;
  background: linear-gradient(145deg, #d7d4e6, #fffbff);
  box-shadow:  20px 20px 60px #cbc8d9,
              -20px -20px 60px #fff;
}

/* ---------- Leaderboard Section ------------ */
.most-recent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.scores {
  list-style: none;
  padding: 0.25rem;
  border-radius: .5rem;
  background: #efebff;
  box-shadow:  10px 10px 30px #cbc8d9,
              -10px -10px 30px #fff;
}

.scores > li {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  background: #efebff;
  border-bottom: 1px solid #fff;
}

.scores > li:last-child {
  border: none;
}

/* ---------- Form Section ------------ */
form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}

input[type="text"] {
  width: 100%;
  padding: 1rem;
  text-shadow: 1px 1px #fff,
              -1px -1px #cbc8d9;
  border-radius: 0.5rem;
  background: #efebff;
  box-shadow: inset 10px 10px 30px #cbc8d9,
              inset -10px -10px 30px #ffffff;
}

::placeholder {
  color: #5842af;
}
